.outer{
    display: flex;
}
#calc{
    
    max-width:20rem;
    background-color: rgb(0,0,0);
    color: rgb(235, 225, 225);
    text-align: center; 
    border-radius: 15px;   
    margin: 0 auto;
    max-height:40rem;
    
    
}
h4{
    word-wrap: break-word;
    overflow-y: hidden;
}

.head>p{
    color:chocolate;
    font-weight: bold;
    border-bottom: 2px solid chocolate;
    margin:0 80px;
    
    
}

.screen{

    border-bottom:2px solid rgb(99, 96, 96);
    margin: 0 55px -10px;
}

.pin{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(4,1fr);*/ 
    row-gap: 20px; 
    column-gap: 10px;
    padding: 40px;

}

 input{ 
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
    background-color: black;
    border: 2px solid rgb(56, 50, 50);
    font-size: 25px;
    color: rgb(235, 225, 225);
    /* position: relative; */
    
    

    

    
}

input[value="clear"]{
    border:2px solid chocolate;
    width: 100%;
    border-radius: 10px; 
    grid-column: 1/4;
    
}

.operator{
    background-color: rgb(27, 24, 24);
}

.operator[value="="]{
    background-color:chocolate;
}

.clear:hover{
    background-color: red;
} 

input:hover:not(.clear,.operator){
    background-color: royalblue;
}

.operator:hover{
    background-color: green;
}

input[value="mod"]{
    font-size: 1rem;
}